
#modaldiv{
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
justify-items: center;
align-items: center;
margin-top: -60vw;
}

#modal{
    display: flex;
flex-direction: column;
border: none;
border-radius: 15px;
padding: 2vw;

}

#line{
    background-color: rgb(77, 77, 255);
    height: 0.5vw;
    margin-bottom: 2vw;
    border-radius: 50px;
}

input{
    width: 40vw;
    height: 3vw;
    border: none;
    background-color: rgb(209, 220, 216);
    margin-bottom: 3vw;
    font-family: "Poppins", sans-serif;
    padding-left: 1vw;
    padding-right: 1vw;
}

select{
    height: 3vw;
    border: none;
    background-color: rgb(209, 220, 216);
    margin-bottom: 3vw;
    font-family: "Poppins", sans-serif;
    padding-left: 1vw;
    padding-right: 2vw;
}

#save{
    width: 10vw;
    height: 5vw;
    border: none;
    color:white;
    background-color: #4f46e5;
    border-radius: 5px;
    font-size:x-large;
}