.BackBtn {
  display: flex;
  align-items: center;
  gap: 1vw;
  padding: 1vw;
  font-size: 1.2vw;
  border-radius: 20px;
  background: #fff;
  
}

.BackBtn button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1vw;
  border-radius: 15px;
  background: #fff;
  position: absolute;
  width: 13vw;
  height: 8vh;
  font-size: 1vw;
  color: #0e0d35;
  z-index: 200;
  padding-left: 1vw;
  margin-left: -3vw;
  margin-top: -30vw;
}

.BackBtn button svg {
  width: 2vw;
  height: auto;
}

.BackBtn p {
  font-size: 1vw;
  font-weight: bold;
  color: #0e0d35;
}

@media (max-width: 360px) {
  .BackBtn {
    gap: 4px;
    padding: 8px;
    font-size: 14px;
    margin-top: 5vh;
    margin-bottom: 3vh;
    background-color: transparent;
  }

  .BackBtn button svg {
    width: 40px;
  }

  .BackBtn button {
    width: 50vw;
    margin-left: -127px;
    margin-top: 20px;
  }

  .BackBtn p {
    font-size: 14px;
  }
}
