#banner_title {
    font-size: 6rem; 
    margin-bottom: 1rem; 
    font-weight: 650;
  }
  
  .banner_text {
    font-size: 1rem; 
    max-width: 600px; 
    margin-bottom: 2rem;
    color: white; 
  }
  
  @media (max-width: 375px) {
   
    #banner_title {
      margin-top: 140px;
        font-size: 3rem; 
    }
    .swiper-button-next{
        color: white;
    }

}